#second {
  animation-name: anim;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  left: 98.5%;
}

#min {
  animation-name: min;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  left: 98.5%;
}

@keyframes anim {
  0% {
    left: 0
  }
  50% {
    left: 98.5%
  }
  100% {
    left: 98.5%;
  }
}

@keyframes min {
  from {
    left: 0;
  }
  
  to {
    left: 98.5%;
  }
}