#bar {
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  transform-origin: top left;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}