/* @import url('https://fonts.cdnfonts.com/css/radioland'); */

.secTick {
  transform-origin: 10px center;
  transform: rotate(-90deg);
  top: 0;
  bottom: 0;
  left: 172px;
  right: 0;
  margin: auto;
  /* transition: all 0.5s; */
}
.minTick {
  transform-origin: 11px center;
  transform: rotate(-90deg);
  top: 0;
  bottom: 0;
  left: 153.5px;
  right: 0;
  margin: auto;
  /* transition: all 0.5s; */
}
.hourTick {
  transform-origin: 10px center;
  transform: rotate(-90deg);
  top: 0;
  bottom: 0;
  left: 108px;
  right: 0;
  margin: auto;
  /* transition: all 0.5s; */
}

#container {
	background-image: url(./assets/clock.webp);
	background-position: 50%;
	background-size: 117%;
  font-family: 'alarm clock', sans-serif;
	box-shadow: 0 0 10px #ccc;
	/* background-position-y: -29px; */
}

.secTick, .minTick, .hourTick {
  box-shadow: 0 0 5px #000;
}

#container {
  /* font-family: 'Radioland', sans-serif; */
}